<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="personaje">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="personaje.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido</ion-label>
      <ion-input [(ngModel)]="personaje.lastname" rows="8"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Imagen</ion-label>
      <ion-input [(ngModel)]="personaje.img" rows="8"></ion-input>
    </ion-item>
  </div>

  <ion-button expand="block" color="success" (click)="updatePersonaje()">
    <ion-icon name="save" slot="start"></ion-icon>
    Update
  </ion-button>
  <ion-button expand="block" color="danger" (click)="confirmDelete()">
    <ion-icon name="trash" slot="start"></ion-icon>
    Delete
  </ion-button>

</ion-content>